<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBookService" />
                <binding name="WSHttpBinding_IBookService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.252:5901/IBookService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IBookService" contract="TestService.IBookService"
                name="WSHttpBinding_IBookService">
                <identity>
                    <userPrincipalName value="DESKTOP-F91QTMG\Acer" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.2.252:5901/IBookService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IBookService1" contract="Test.IBookService"
                name="WSHttpBinding_IBookService1">
                <identity>
                    <userPrincipalName value="DESKTOP-F91QTMG\Acer" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>